[submodule "submodules/cedar"]
	path = submodules/cedar
	url = https://github.com/sgravrock/cedar.git
[submodule "submodules/jrswizzle"]
	path = submodules/jrswizzle
	url = git://github.com/rentzsch/jrswizzle.git
